{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}
<li>Lorem ipsum dolor sit amet.</li>
<li>Architecto aliquam illo ratione soluta.</li>
<li>Quia libero fuga iure quisquam.</li>
<li>Aliquam fugiat minus iure voluptas.</li>
<li>Ipsam rerum commodi ullam iusto?</li>
<li>Sed aliquam blanditiis animi consectetur.</li>
<li>Asperiores blanditiis quam explicabo unde.</li>
<li>Neque quo quidem voluptates perferendis.</li>
<li>Voluptates ullam mollitia deleniti excepturi?</li>
<li>Quaerat, nam. Labore, nisi atque.</li>
<li>Eum corrupti amet illum hic.</li>
<li>Quos necessitatibus accusantium assumenda placeat.</li>
<li>Perspiciatis debitis qui officia officiis.</li>
<li>Odit ea doloribus ducimus minus.</li>
<li>Eveniet iste ab fugiat officia.</li>
<li>Molestiae odit fuga voluptate. Laborum.</li>
<li>Fugiat voluptates quae culpa consectetur.</li>
<li>Labore cupiditate tempore quidem doloremque?</li>
<li>Dolor nisi praesentium enim mollitia.</li>
<li>Amet numquam nostrum similique laboriosam.</li>
<li>Eaque beatae nostrum modi laudantium!</li>
<li>Repellat amet tempora tenetur possimus?</li>
<li>Animi ea veniam aspernatur dolorem?</li>
<li>Nisi atque voluptas amet. Ullam!</li>
<li>Mollitia, maiores. Voluptatem, harum velit.</li>
<li>Voluptate veritatis dolor assumenda nisi.</li>
<li>Nesciunt accusantium incidunt debitis eum!</li>
<li>Optio dolorem repudiandae quae sit!</li>
<li>Repellendus quisquam voluptate perspiciatis voluptas?</li>
<li>Quas blanditiis et magnam beatae?</li>
<li>Commodi corporis voluptates veniam aut.</li>
<li>Nam fugiat similique voluptas animi?</li>
<li>Consequuntur quisquam necessitatibus reiciendis autem.</li>
<li>Eveniet alias itaque consectetur ipsa.</li>
<li>Voluptatum ex reiciendis maxime provident.</li>
<li>Harum, quisquam autem. Id, officiis.</li>
<li>Cumque dolorum officia optio voluptate.</li>
<li>Fuga aperiam deleniti vero minima.</li>
<li>Id quisquam enim a nisi.</li>
<li>Similique voluptate harum quidem delectus.</li>
<li>Iusto, ab adipisci! Sequi, reprehenderit!</li>
<li>Itaque ab ullam doloremque cum.</li>
<li>Autem, quam? Quaerat, numquam ab!</li>
<li>Sit quibusdam qui aut amet.</li>
<li>Nemo ex quod repellendus iure.</li>
<li>Provident accusantium saepe magni dolore!</li>
<li>Non aspernatur exercitationem quibusdam praesentium.</li>
<li>Provident, ullam! Fugiat, est minima?</li>
<li>Ea soluta perferendis sit quisquam?</li>
<li>Numquam cupiditate ea sint. Voluptas!</li>
<li>Quisquam dolore ut sit ipsam.</li>
<li>Quos inventore illo voluptates qui!</li>
<li>Ad in nam a molestias!</li>
<li>Labore iste praesentium unde dolores?</li>
<li>Commodi at fugiat iure reiciendis?</li>
<li>Repellendus officia quas accusamus non.</li>
<li>Tempore accusamus minus beatae quos.</li>
<li>Id dolore sit asperiores nobis.</li>
<li>Sed aperiam eaque adipisci eius.</li>
<li>Qui consectetur debitis sint nisi.</li>
<li>Nemo optio laboriosam consequuntur saepe!</li>
<li>Omnis voluptatibus eum tempora ipsa?</li>
<li>Optio molestias voluptate impedit consequuntur.</li>
<li>Dolorem error quis recusandae facere.</li>
<li>Eos provident officiis sint officia!</li>
<li>Molestiae fugiat eum voluptatibus quibusdam.</li>
<li>Quia praesentium est dolorem maxime!</li>
<li>Similique ea accusantium eligendi accusamus.</li>
<li>Fugit vel autem tempora illo!</li>
<li>Tempora labore modi blanditiis unde.</li>
{% endblock %}

